@import "tailwindcss";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.5526 0.1381 150.71);
  --primary-foreground: oklch(0.405 0.101 131.063);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.768 0.233 130.85);
  --primary-foreground: oklch(0.405 0.101 131.063);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

body {
  @apply text-foreground text-fluid-base overflow-x-hidden antialiased;
}

/* ===========================================================================
 * Typography
 * =========================================================================== */
@utility text-fluid-4xl {
  /* 56px → 112px */
  font-size: clamp(3.5rem, 2rem + 5vw, 7rem);

  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.02em;
}

@utility text-fluid-3xl {
  /* 44px → 80px */
  font-size: clamp(2.75rem, 1.8rem + 3.8vw, 5rem);

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

@utility text-fluid-2xl {
  /* 38px → 60px */
  font-size: clamp(2.375rem, 1.8rem + 2.4vw, 3.75rem);

  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

@utility text-fluid-base {
  /* 18px -> 20px */
  font-size: clamp(1.125rem, 0.875rem + 0.5vw, 1.25rem);

  line-height: 1.4;
}

/* ===========================================================================
 * Buttons
 * =========================================================================== */
@utility btn {
  @apply inline-flex cursor-pointer items-center justify-center gap-4 rounded-full font-medium whitespace-nowrap transition-all duration-200 hover:scale-105;
}

@utility btn-md {
  @apply h-10 px-4 text-base;
}

@utility btn-lg {
  @apply h-16 px-8 text-xl;
}

@utility btn-primary {
  @apply bg-primary shadow-primary/50 hover:shadow-primary/70 active:shadow-primary/90 text-white shadow;
}

@utility btn-secondary {
  @apply border-border bg-secondary border text-black shadow;
}

@utility btn-outline {
  @apply border-border border bg-transparent;
}

@utility btn-ghost {
  @apply hover:bg-secondary bg-transparent;
}
