---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Cristhian Melo | Desarrollador de Software">
	<main class="container mx-auto px-5">
		<Hero/>
		<Footer/>
	</main>
</Layout>
