---
import Layout from "@/layouts/Layout.astro";

const text = "The quick brown fox jumps over the lazy dog.";
---

<Layout title="Home">
  <div class="flex flex-col gap-6">
    <h1 class="text-fluid-4xl">
      {text}
    </h1>
    <h2 class="text-fluid-3xl">
      {text}
    </h2>
    <h3 class="text-fluid-2xl">
      {text}
    </h3>
    <p class="text-fluid-base">
      {text}
    </p>

    <div class="flex flex-wrap gap-4">
      <button class="btn btn-primary btn-lg w-fit">Click Me</button>
      <button class="btn btn-secondary btn-lg w-fit">Click Me</button>
      <button class="btn btn-outline btn-lg w-fit">Click Me</button>
      <button class="btn btn-ghost btn-lg w-fit">Click Me</button>
    </div>

    <div class="flex flex-wrap gap-4">
      <button class="btn btn-primary btn-md w-fit">Click Me</button>
      <button class="btn btn-secondary btn-md w-fit">Click Me</button>
      <button class="btn btn-outline btn-md w-fit">Click Me</button>
      <button class="btn btn-ghost btn-md w-fit">Click Me</button>
    </div>

    <div class="flex flex-wrap gap-4">
      <button class="btn btn-primary btn-sm w-fit">Click Me</button>
      <button class="btn btn-secondary btn-sm w-fit">Click Me</button>
      <button class="btn btn-outline btn-sm w-fit">Click Me</button>
      <button class="btn btn-ghost btn-sm w-fit">Click Me</button>
    </div>

    <div class="flex flex-wrap gap-4">
      <button class="btn btn-primary btn-xs w-fit">Click Me</button>
      <button class="btn btn-secondary btn-xs w-fit">Click Me</button>
      <button class="btn btn-outline btn-xs w-fit">Click Me</button>
      <button class="btn btn-ghost btn-xs w-fit">Click Me</button>
    </div>
  </div>
</Layout>
