<footer class="container mx-auto flex items-center justify-between p-4">
  <p>
    &copy; {new Date().getFullYear()} Fundacion Para El Desarrollo Social JM. Todos
    los derechos reservados.
  </p>

  <p>
    Diseñado y desarrollado por <a
      class="hover:text-primary transition-colors"
      href="https://rxtsel.dev/?utm_source=footer&utm_medium=fundacionjm.com"
      target="_blank"
      rel="noopener noreferrer">@rxtsel</a
    >.
  </p>
</footer>
