 <div class="grid content-center min-h-[80vh] md:min-h-[95vh] md:grid-cols-2 md:gap-x-10 md:items-center">
  <div class="order-2 md:order-1">
      <img class="rounded" src="picture-form.jpg" loading="lazy" alt="puede ser una imagene con una mesa, un computador, y una lampara de noche">
  </div>
  <div class="order-1 md:order-2">
    <h1 class="text-[#F5F5F5] text-3xl md:text-6xl">Próximamente</h1>
    <p class="text-[#F5F5F5] my-5 max-w-xl">Estoy trabajando en mi página web. Esté atento a algunas actualizaciones interesantes.</p>
    <div class="flex items-center mb-5 gap-x-5">
     <a href="https://twitter.com/rxtsel" target="_blank"><img loading="lazy" src="twitter-line.svg"/></a> 
     <a href="https://instagram.com/rxtsel" target="_blank"><img loading="lazy" src="instagram-line.svg"/></a> 
     <a href="https://linkedin.com/in/rxtsel" target="_blank"><img loading="lazy" src="linkedin-line.svg"/></a> 
    </div>
  </div>
</div>
