<section class="relative bg-[#F9F9EA] py-10 md:py-36">
  <div class="container mx-auto px-2">
    <h2
      class="text-fluid-2xl lg:text-fluid-3xl timeline-view animate-fade-in animate-range-[entry_10%_contain_30%] text-center font-black text-balance"
    >
      El desarrollo social comienza cuando las personas reciben oportunidades
      reales
    </h2>

    <div class="mt-10 grid grid-cols-1 gap-8 lg:grid-cols-2 lg:py-10">
      <article
        class="prose lg:prose-lg timeline-view animate-blurred-fade-in animate-range-[entry_5%_contain_10%] z-2 mx-auto max-w-prose rounded-2xl bg-white p-8 lg:rounded-4xl lg:p-10"
      >
        <h3 class="text-primary font-bold">Misión</h3>
        <p class="text-pretty">
          Contribuir al desarrollo integral de las comunidades mediante la
          ejecución de proyectos sociales, educativos, culturales, ambientales y
          de bienestar, promoviendo la inclusión, la equidad y el mejoramiento
          de la calidad de vida de la primera infancia, niños, niñas,
          adolescentes, jóvenes, adultos, adultos mayores y poblaciones
          vulnerables, con un compromiso permanente de transparencia,
          responsabilidad e innovación.
        </p>
      </article>

      <article
        class="prose lg:prose-lg timeline-view animate-fade-in animate-range-[entry_10%_contain_20%] z-2 mx-auto max-w-prose rounded-2xl bg-white p-8 lg:rounded-4xl lg:p-10"
      >
        <h3 class="text-primary font-bold">Visión</h3>
        <p class="text-pretty">
          Ser una fundación líder en Colombia y con reconocimiento internacional
          por transformar vidas mediante proyectos de alto impacto social,
          fortaleciendo el desarrollo sostenible, la inclusión y el bienestar de
          las comunidades con excelencia, compromiso e innovación.
        </p>
      </article>
    </div>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="timeline-view animate-blurred-fade-in animate-range-[entry_10%_contain_60%] pointer-events-none absolute inset-x-0 bottom-0 opacity-65"
    viewBox="0 0 1440 390"
    aria-hidden="true"
  >
    <path
      fill="#a0f9f9"
      fill-opacity=".53"
      d="M0 400V250c149.464-10.768 298.929-21.536 405-25s168.75.375 275-16 256.071-52.964 390-87 251.964-65.518 370-97v375z"
      class="path-0"></path>
    <path
      fill="#a0f9f9"
      d="M0 400v-17c82.321-11.59 164.643-23.179 296-43s311.75-47.875 464-70 276.357-38.321 385-56 201.821-36.84 295-56v242z"
      class="path-1"></path>
  </svg>
</section>
